@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: var(--light-grey);
  height: 100vh;
  width: 100vw;
}

.date-display-number {
  color: var(--purple);
}
